<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<!-- Site footer -->
<br><br><br>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 class="name">Java Minions</h6>
            <p class="text-justify">We <i>JAVA MINIONS </i> developed this website
            through the UST-Global program. Our strengths are Strong Attention to detail,
            Good Java Programming Skills, Multitasking experts, Well-developed soft skills,
            and Excellence-driven.<br>
            We are cool.
            
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>About</h6>
            <ul class="footer-links">

              <li><a href="IndexHandler?footerSelection=contactus" id="ContactUs">Contact Us</a></li>

              <li><a href="IndexHandler?footerSelection=aboutus" id="AboutUs">About us</a></li>

              <li><a href="IndexHandler?footerSelection=testimonials" id="Testimonials">Testimonials</a></li>
              <li><a href="IndexHandler?footerSelection=press" id="Press">Press</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Help</h6>
            <ul class="footer-links">
              <li><a href="IndexHandler?footerSelection=payments" id="Payments">Payments</a></li>
              <li><a href="IndexHandler?footerSelection=shipping" id="Shipping">Shipping</a></li>
              <li><a href="IndexHandler?footerSelection=return" id="Return">Cancellation & Returns</a></li>
              <li><a href=IndexHandler?footerSelection=faq id="FAQ">FAQ</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a class="bottom" href="https://github.com/javaminions/MyStore_Servlet" target="_blank">Java Minions</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="youtube" href="http://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
	
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</html>